<%- include('layout/headers') %> <%- include('layout/nav') %>

<div>
  <body>
    <h1>List of Contact</h1>
    <ul>
      <li>Hallo semuanya</li>
    </ul>
  </body>
</div>

<%- include('layout/footer') %>
